name: Build wheel

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.9"
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install build wheel
    - name: Install wheels
      run: |
        python -m build --wheel
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: ./dist/*.whl
